./BEVDet/ckpts
./BEVDet/data
./BEVDet/logs

__pycache__/
*.pyc

.vscode/
.idea/

*.pth
*.pt
*.ckpt
*.onnx

logs/
outputs/
work_dirs/

wandb/

data/
datasets/

*.tar
*.zip
*.7z

.env